# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
chart-studio=1.0.0=pypi_0
cufflinks=0.17.3=pypi_0
decorator=4.4.2=py_0
entrypoints=0.3=py38_0
expat=2.2.6=he6710b0_0
fontconfig=2.13.0=h9420a91_0
ipykernel=5.1.4=py38h39e3cac_0
ipython=7.13.0=py38h5ca1d4c_0
ipython_genutils=0.2.0=py38_0
ipywidgets=7.5.1=py_0
itables=0.2.1=pypi_0
jupyter=1.0.0=py38_7
jupyter_client=6.1.0=py_0
jupyter_console=6.1.0=py_0
jupyter_core=4.6.1=py38_0
matplotlib-base=3.1.3=py38hef1b27d_0
nbconvert=5.6.1=py38_0
nbformat=5.0.4=py_0
ncurses=6.2=he6710b0_0
notebook=6.0.3=py38_0
numpy=1.18.1=py38h4f9e942_0
numpy-base=1.18.1=py38hde5b4d6_1
pandas=1.0.3=py38h0573a6f_0
pip=20.0.2=py38_1
plotly=4.5.4=pypi_0
python=3.8.2=hcf32534_0
python-dateutil=2.8.1=py_0
python_abi=3.8=1_cp38
qtconsole=4.7.2=py_0
qtpy=1.9.0=py_0
readline=8.0=h7b6447c_0
requests=2.23.0=pypi_0
scipy=1.4.1=py38h0b6359f_0
urllib3=1.25.8=pypi_0
wheel=0.34.2=py38_0
widgetsnbextension=3.5.1=py38_0
